body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

.navbar{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.caption{
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-weight: 50;
}

.thumbnail{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 100px;
}


.card--container{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;

}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
